*{
margin: 0;
padding: 0;
background-color: rgb(218, 191, 221);
}
body{
    text-align: center;
}
h1{
    text-align: center;
}
.msg-container{
    height: 55px;
    border-radius: 10px;
    display: block;
    justify-content: center;
    margin-top: 2%;
}
.hide{
    display: none;
}
#msg{
    font-size: larger;
}
#newbtn{
    border-radius: 10px;
    width: 100px;
    background-color: rgb(186, 106, 223);
    font-size: medium;
}
.Container{
    height: 60vh;
    width: 60vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 35vw;
    margin-top: 5%;
    
}
.btn{
    height: 30%;
    width: 30%;
    border-radius: 10px;
    background-color: rgb(228, 211, 243);
    padding: 30px;
    margin: 5px;
    font-size: 50px;
}
.reset{
    height: 35px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin-top: 2%;
    
}
#resetbtn
{
    border-radius: 10px;
    width: 100px;
    background-color: rgb(186, 106, 223);
    font-size: medium;
}



    
   
